body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#111;
    color:white;
    text-align:center;
    padding-top:100px;
}

h1{
    color:gold;
}

button{
    padding:15px 30px;
    border:none;
    border-radius:10px;
    background:gold;
    cursor:pointer;
    font-size:18px;
}
